# Pasta target (artefatos gerados pelo Maven)
target/
allure-results

# Configurações do IntelliJ IDEA
.idea/
*.iml

# Configurações do Visual Studio Code
.vscode/

# Compiled class file
*.class
*.swp

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
*.temp

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Relatórios de teste
allure-results/
allure-report/

# Arquivos de sistema
.DS_Store
Thumbs.db